<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common_head  :: common-head">
    <title>Specific Page Title</title> <!-- This will be replaced by the fragment -->
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="row col-md-10">
        <h2>Reports</h2>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Book isbn</th>
            <th>User email</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "report : ${reports}">
            <td th:text="${report.isbn}"></td>
            <td th:text="${report.userEmail}"></td>
            <td th:text="${report.reportStatus}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>