<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/common_head  :: common-head">
        <title>Specific Page Title</title> <!-- This will be replaced by the fragment -->
    </head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
        <div class="row col-md-10">
            <h2>list of registered user</h2>
        </div>
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>first name</th>
                    <th>last name</th>
                    <th>email</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "user : ${users}">
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.email}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/users/{id}/edit(id=${user.id})}">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
